// G E N E R A L  S T Y L E //
*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: $primary-font;
    color: $main-font-color;
}

// mixin

@mixin flex($content:flex-start, $direction:row ,$align:center){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin button($color:white , $width:200px , $bg-color:$btn-color , $border:none , $bg-hover: #243055){
    @include flex($content: center);
    padding: 8px;
    width: $width;
    border-radius: 10px;
    font-size: 15px;
    background-color: $bg-color;
    color:  $color;
    border: $border;
    transition: background 0.4s, color 0.4s ;
    &:hover{
        background-color: $bg-hover;
        color: white;
    }
}

//site
.site{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
a{
    color: $main-font-color;
    text-decoration: none;
    font-weight: 600;
}

li{
    list-style: none;
}

//container
.container{
    width: 1120px;
    
}

//button
.btn-container{
   @include flex;
    margin-bottom: 20px;
    span{
        margin: 0 10px;
        opacity: 0.5;
    }
}


//img
.small-logo{
    max-width: 20px;
    margin-right: 5px;
}