// G E N E R A L  S T Y L E //
*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: $primary-font;
    color: $main-font-color;
}

//site
.site{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

//container
.container{
    width: 1120px;
    
}

//button
.btn-container{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    span{
        margin: 0 10px;
        opacity: 0.5;
    }
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 200px;
    border-radius: 10px;
    font-size: 15px;
    background-color: $btn-color;
    color: white;
}

.white{
    width: 110px;
    background-color: #fff;
    border: 2px solid $btn-color;
    color: $btn-color;
}

//img
.small-logo{
    max-width: 20px;
    margin-right: 5px;
}