// H E A D E R //
header{
    @include flex($align:center);
    height: 80px;
    border-bottom: 1px solid $border-color;
    .left-side{
       @include flex;
        height: 20px;
        flex-basis: 50%;
    }
    .right-side{
        flex-basis: 50%;
       @include flex($align:center);
       .menu-inline{
            height: 20px;
            @include flex($align:center , $content: center);
            li{
                
                list-style: none;
                margin-right: 40px;
                i{
                    margin-bottom: 5px;
                }
            }
            
       }
        .button{
            @include button($color: $btn-color , $width:110px , $bg-color:white , $border:2px solid $btn-color, $bg-hover: $btn-color);
        }
    }
}
@media (max-width: 576px) {
    header{
        .right-side{
            .menu-inline{
                display: none;
            }
        }
    }
    
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
   
  
}

