// H E A D E R //
header{
    @include flex($align:center);
    height: 80px;
    border-bottom: 1px solid $border-color;
    .left-side{
       @include flex;
        height: 20px;
        flex-basis: 10%;
    }
    .right-side{
        flex-basis: 90%;
       @include flex($align:center , $content: flex-end);
       .menu-inline{
            height: 20px;
            @include flex($align:center , $content: center);
            li{
                
                list-style: none;
                margin-right: 40px;
                i{
                    margin-bottom: 5px;
                }
            }
       }
       .hamburgher {
        display: none;
    }
        .button{
            @include button($color: $btn-color , $width:110px , $bg-color:white , $border:2px solid $btn-color, $bg-hover: $btn-color);
        }
    }
}
@media (max-width: 715px) {
    
    header{
        .right-side{
            .menu-inline,
            .button{
                display: none;
            }
            .hamburgher{
                display: block;
                font-size: 25px;
            }
        }
    }
    
 }


