// J U M B O T R O N //
    .jumbotron{
        display: flex;
        height: 500px;
        margin-top: $m-top;
        .jumbo-left{
            flex-basis: 50%;
            h2{
                font-size: 50px;
                margin-bottom: 40px;
            }
            p{
                font-size: 22px;
                margin-bottom: 40px;
            }
            a{
                font-size: 12px;
            }
            .button{
                @include button;
            }
        }
        .jumbo-right{
            margin-left: 30px;
            flex-basis: 50%;
            background-image: url('../../../dist/img/illustration-main.jpg');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    @media (max-width: 715px) {
    
        .jumbotron{
            margin: 0;
            flex-wrap: wrap;
            height: 1000px;
            .jumbo-left{
                flex-basis: 100%;
                @include flex($direction: column, $align: center, $content: center);
                h2{
                
                    text-align: center;
                }
            }
            .jumbo-right{
                flex-basis: 100%;
                margin-bottom: 50px;
            }
        }
        
     }

     @media (max-width: 880px) {
    
        .jumbotron{
            margin: 0;
            flex-wrap: wrap;
            height: 1000px;
            .jumbo-left{
                flex-basis: 100%;
                @include flex($direction: column, $align: center, $content: center);
                h2{
                
                    text-align: center;
                }
            }
            .jumbo-right{
                flex-basis: 100%;
                margin-bottom: 50px;
            }
        }
        
     }
