// M A I N  2 //
.main2{
    .wrapper{
        @include flex($content:center);
        max-height: 500px;
        margin: 200px 50px 0 0;
        img{
            max-width: 900px;
        }
        .wrap-text{
            @include flex($direction:column, $align: flex-start , $content: flex-start);
            height: 500px;
            
            img{
                max-width: 300px;
            }
            h2{
                margin-bottom: 20px;
                font-size: 25px;
            }
            a{
                color: $btn-color;
                font-size: 20px;
                margin-bottom: 20px;
            }
            p{
                font-size: 18px;
                margin-bottom: 20px;
            }
        }
        &:nth-child(even){
            margin: 200px 0 0 50px;
         }
        &:nth-child(1){
           margin-top: 100px;
        }
    }
    
}