// V A R I A B I L I //

// color
$main-font-color: #58402c;
$border-color: #bdb5af;
$btn-color: #2e4691;
$bg-color: #ffe7d2;

// font
$primary-font:'Open Sans', sans-serif;

// utility

a{
    color: $main-font-color;
    text-decoration: none;
    font-weight: 600;
}
